<meta name="viewport" content="width=device-width, initial-scale=1.0,
	user-scalable=no">

<nav class="navbar navbar-expand-md navbar-dark" style="background-color:black">

  <a class="navbar-brand" [routerLink]="['/']">Meeting Planner</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

    <ul class="navbar-nav">

      <li class="nav-item active">

        <a class="nav-link" (click)="goToSignUp()">Sign-Up</a>

      </li>

    </ul>

  </div>

</nav>

<div class="row p-0 m-0">

  <div class="col-sm"></div>

  <div class="col-sm p-5">

    <h2 class="form-signin-heading">Please provide Email</h2>

    <label for="inputEmail" class="sr-only">Email address</label>

    <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email address" required autofocus>

    <br>

    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="mailFunction()">Submit</button>

  </div>

  <div class="col-sm"></div>

</div>